/assessment1.py
/bisection.py
/bot.py
/correct.py
/eval2correct.py
/eval_2.py
/evenorodd.py
/first.py
/flag.py
/inpterpolation1.1.py
/interpolation.py
/interpolation1.2.py
/linear_interpolation.py
/linear_interpolation1.1.py
/list.py
/ml_model.py
/newton_raphson.py
/None.py
/numerical_integration.py
/secant.py
/spline_interpolation.py
/square.py
/sumfunction.py